name: Lint PR
permissions: {}

on:
  pull_request:
    branches:
      - master
    types: [opened, edited, synchronize, reopened]

jobs:
  validate-pr-title:
    name: Validate PR Title (Conventional Commits)
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            chore
            docs
            refactor
            ci
            perf
            test
            style
            build
            revert
          scopes: |
            master
            grafana
            grafana-mcp
            synthetic-monitoring-agent
            tempo
            tempo-distributed
            tempo-vulture
          requireScope: false
