name: Release Please
permissions: {}

on:
  push:
    branches:
      - master

jobs:
  release-please:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release-please
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

      - name: Enable auto-merge for Release PR
        if: ${{ steps.release-please.outputs.pr }}
        run: gh pr merge "${PR_NUMBER}" --auto --squash --delete-branch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ steps.release-please.outputs.pr }}

      - name: Fix release title
        if: ${{ steps.release-please.outputs.release_created }}
        run: gh release edit "${TAG_NAME}" --title "${TAG_NAME}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ steps.release-please.outputs.tag_name }}
